{% load static %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    {% compress css %}
    <link
      href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link rel="stylesheet" href="{% static 'css/signin-style.css' %}" />
    {% endcompress %}

  </head>
  <body>
    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6 text-center mb-5">
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-6 col-lg-5">
            <div class="login-wrap p-4 p-md-5">
              <div
                class="icon d-flex align-items-center justify-content-center"
              >
                <span class="fa fa-user-o"></span>
              </div>
              {% block content %} {% endblock %}
            </div>
          </div>
        </div>
      </div>
    </section>


    {% compress js %}
    <script src="{% static 'js/signin-jquery.min.js' %}"></script>
    <script src="{% static 'js/signin-popper.js' %}"></script>
    <script src="{% static 'js/signin-bootstrap.min.js' %}"></script>
    <script src="{% static 'js/signin-main.js' %}"></script>
    {% endcompress %}
  </body>
</html>
