{%extends 'base-rest.html'%}

{%block content%}
<h3 class="text-center">Log in to your account</h3>

  <div class="center">
	  <form method="post" class="card" novalidate >
	  	{% csrf_token %}
		{% for field in form %}
	    		{{ field.label_tag }} 
	        	{{ field }}
	        	{% if field.errors %}
	        		<small>{{ field.errors|striptags  }}</small> 
	        	{% endif %}
		{% endfor %}
		
		<a href="{% url 'accounts:login' %}">Login</a>
		<hr>
		<p class="text-center">Forgot your password <a href="{%url 'password-reset'%}">Reset Password</a></p>
		<p class="text-center">Don't have a account? <a href="{%url 'accounts:signup'%}">Join Now</a></p>
	</form>
</div>

{%endblock content%}